.container {
    max-width: 1120px;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 0 2rem;
}

.posts {
    margin: 5rem auto 4rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    a {
        display: block;
        strong {
            display: block;
            font-size: 1.75rem;
            font-weight: bold;
            line-height: 2rem;
            transition: color 0.2s;
            color: var(--gray-50);
        }
        p {
            font-size: 1.125rem;
            color: var(--gray-100);
            margin-top: 0.5rem;
            line-height: 1.625rem;
        }
        &:hover strong {
            color: var(--gray-200);
        }
        .info {
            margin-top: 1.5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1.5rem;
            time,
            span {
                font-size: 0.875rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5rem;
                color: var(--gray-200);
            }
        }
    }
}

.loadMorePostsButton {
    background: none;
    border: none;
    color: var(--pink-500);
    font-size: 1.125rem;
    font-weight: 600;
    transition: filter 0.2s;
    &:hover {
        filter: brightness(0.8);
    }
}